{% extends "::base.html.twig" %}

{% form_theme form _self %}

{% block _contact_name_row %}
    <div class="row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, { 'attr': {'class': 'small-12 large-6 large-uncentered columns'} }) }}
    </div>
{% endblock %}

{% block title %}{% trans %}Contacto{% endtrans %}{% endblock %}

{% block content %}
<form action="{{ path('proficient_contact') }}" form_enctype="" method="post">
{{ form_widget(form) }}
</form>
{% endblock %}